@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

.container{
  max-width: 80vw;
}

.navbar{
 display: flex;
 height: 67px;
 font-family: 'Ubuntu', sans-serif;
}

.navbar li{
  list-style: none;
  margin: 0 12px;
  
}

.topleft{
  width: 50%;
 
}

.topright{
  width: 50%;
  
}

.section1{
   min-height: 100vh;
}

.section1 h1{
  font-size: 1.3rem;
}

.logo-title{
  font-size: 1.7rem;
}

.logo{
  width: 50px;
  
}

.eth-logo{
  width: 125px;
}

.topright .topimg-size{
  width: 466;
}

.section2{
  padding-left:63px;
  padding-right: 63;
}

.section2 h1{
  font-size: 2rem;
}

.box{
  margin: 12px 22px;
  min-width: 33vw;
  border: 2px solid rgb(177, 171, 171);
}

.box ul{
  list-style-type: none;
}
.box ul li{
  margin: 12px 2px;
}